<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SoundCloud Wrapper</title>

        <link rel="stylesheet" href="../../vendor/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="./mainwindow.css">
        <script src="./mainwindow.js"></script>
    </head>
    <body>
        <!-- navigation controls -->
        <div class="window-resize-region">
            <div class="navbar">
                <div class="page-controls">
                    <button class="nav-btn"><i id="btnBack" class="fa fa-chevron-left fa-lg"></i></button><!--
                    --><button class="nav-btn"><i id="btnForward" class="fa fa-chevron-right fa-lg"></i></button><!--
                    --><button class="nav-btn"><i id="btnRefresh" class="fa fa-refresh fa-lg"></i></button><!--
                    --><button class="nav-btn"><i id="btnGetUrl" class="fa fa-share-alt fa-lg"></i></button>
                    <div id="urlCopied" class="tooltiptext">Current URL copied to clipboard.</div>
                </div>
                <p class="window-title">SoundCloud Wrapper</p>
                <div class="window-controls">
                    <button class="nav-btn"><i id="btnMinimize" class="fa fa-window-minimize fa-1x"></i></button><!--
                    --><button class="nav-btn"><i id="btnMaximize" class="fa fa-window-maximize fa-1x"></i></button><!--
                    --><button class="nav-btn"><i id="btnClose" class="fa fa-times fa-lg"></i></button>
                </div>
            </div>
        </div>

        <!-- webview -->
        <webview id="scWebView" src="https://soundcloud.com/" allowpopups preload="../../lib/silent-notifications.js"></webview>

    </body>
</html>
